
@{
    ViewBag.Title = "Home Page";
}

<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>Home </h1>
        </div>
    </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb"></div>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">Welcome</span></h4>
            </div>
            <div class="panel-body">
                @*@Html.Action("MenuList", "Company", new { ControllerName = "Home" })*@
            </div>
        </div>
        <!-- end: BASIC TABLE PANEL -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('ul.main-navigation-menu > li:nth-child(1)').addClass('active open');
    });
</script>

