
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/app/RequisitionPurchase.js"></script>

<h2>Requisition to Purchase</h2>

@{ Html.RenderPartial("_ReceivingMenu"); }

<div>
    RP# <label id="lblRpNo">@ViewBag.RpNo</label>
    Date <input type="text" id="txtDate" value="@ViewBag.Date" />
</div>

<br/>

<div>
    Select Item: @Html.DropDownList("Items", (IEnumerable<SelectListItem>)ViewBag.Items)
    <input id="btnAddItem" type="button" value="Ok" />
    <br/>
    
    <table id="tblItems">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Unit Cost</th>
                <th>Quantity</th>
                <th>Item Type</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<br/>
<input type="button" id="btnSubmit" value="Submit" />

<br />
@Html.ActionLink("Back to List", "Index")