<ul class="nav navbar-right">
    <!-- start: TO-DO DROPDOWN -->
    <li>
        <a href="@Url.Action("Index", "Inventory")">
            <i class="fa fa-plus"></i> Inventory
        </a>
    </li>
    <li>
        <a href="@Url.Action("InventoryReport", "Inventory")">
            <i class="fa fa-plus"></i> Inventory Report
        </a>
    </li>
</ul>

