<div>
    @Html.ActionLink("Receiving", "Index", "Receiving") |
    @Html.ActionLink("Requisition to Purchase", "Index", "RequisitionPurchase") |
    @Html.ActionLink("Excess parts from set", "Index", "ExcessPartsSet")
</div>
<br /><br />
