<ul class="nav navbar-right">
    <!-- start: TO-DO DROPDOWN -->
    <li>
        <a href="@Url.Action("Index", "Receiving")">
            <i class="fa fa-plus"></i> Receiving
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ExcessPartsSet")">
            <i class="fa fa-plus"></i> Excess parts from set
        </a>
    </li>
</ul>

