@model IEnumerable<CNG.Models.Receiving>

<input type="hidden" id="lblPOItemId" value="@ViewBag.POItemId" />
<input type="hidden" id="HiddenReNumber" value="@ViewBag.ReNumber" />
<input type="hidden" id="txtPoQuantity" value="@ViewBag.ItemQuantity" />


<div class="panel-heading">
    <h4 class="panel-title pull-left"><span class="text-bold">Item: <b>@ViewBag.ItemDescription</b></span></h4>
    <div class="pull-right">
        <input type="button" id="btnReceivingAdd" value="Add" class="btn btn-dark-blue" />
    </div>

    <div class="clearfix"></div>
</div>



<table id="tblReceivingLog" class="table table-hover table-striped">
    <tr>
        <th>Quantity</th>
        <th>Serial No</th>
        <th>DR No</th>
        <th>Date Received</th>
    </tr>
    @foreach (var item in Model)
    {
        Html.RenderPartial("_ReceivingLogEditorRow", item);
    }
</table>

<br/>
<input type="button" id="btnReceivingSave" value="Save" class="btn btn-dark-beige" />
    