
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Receiving</h2>

<script src="~/Scripts/app/Receiving.js"></script>

<div>
    Search PO @Html.DropDownList("PurchaseOrders", (IEnumerable<SelectListItem>)ViewBag.PurchaseOrders)

    <div>
        <table id="tblItems">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Brand</th>
                    <th>Unit Cost</th>
                    <th>Item Type</th>
                    <th>Remarks</th>
                    <th>Quantity</th>
                    <th>Balance</th>
                    <th>Inv/DR #</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
    <br/><br />
    <div>
        <input type="button" value="Save"/>
        <input type="button" value="Submit" />
    </div>

    <br/>
    @Html.ActionLink("List", "List")
</div>


