
@{
    ViewBag.Title = "ExcessParts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excess Parts</h2>

<div>
    @Html.ActionLink("Receiving", "Index") |
    @Html.ActionLink("Requisition to Purchase", "RequisitionToPurchase") |
    @Html.ActionLink("Excess parts from set", "ExcessParts")
</div>
<br /><br />
