<!DOCTYPE html>

<html lang="en">
    <head>
        <title>CNG</title>
    </head>

    <body>
        @ViewBag.Annotation
        <br/>

        @using (Html.BeginForm("TruncateDatabase", "Development"))
        { 
            <input type="submit" value="Truncate Database" />
        }
    </body>
</html>