
@{
    ViewBag.Title = "InventoryReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ReportViewerForMvc

<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>Inventory Report</h1>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="toolbar-tools pull-right">
            <!-- start: TOP NAVIGATION MENU -->
            @{ Html.RenderPartial("_InventoryMenu"); }
        </div>
    </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb"></div>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title pull-left"><span class="text-bold">Inventory Report</span></h4>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                
                <div class="clearfix"></div>
                
                @using (Html.BeginForm())
                {
                    <label>Date From:</label>  <input type="text" name="DateFrom" class="date-picker" value="@ViewBag.DateFrom" /> <br />
                    <label>Date To:</label> <input type="text" name="DateTo" class="date-picker" value="@ViewBag.DateTo" /> <br /> <br />
                    
                    <input type="submit" value="Submit" />
                }
                
                <!--#ReportViewer1-->
                <div class="report-viewer">
                    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @style = "border: none; width:100% !important;" })
                </div>
                
            </div>
        </div>
        <!-- end: BASIC TABLE PANEL -->
    </div>

    <div class="clearfix"></div>

</div>
<script>

    $(document).ready(function () {
        $('ul.main-navigation-menu > li:nth-child(6)').addClass('active');
    });

</script>
